body {
  padding: 0;
  margin: 0;
}

.main-container{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background: linear-gradient(to top, #fbc2eb 0%, #a18cd1 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in-container{
  display: grid;
  background-color:blue ;
  width: 780px;
  min-height: 500px;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 15px;
  box-shadow: 5px 10px 19px black;
  overflow: hidden;
}

.sign-in-img-container > img{
   height: 100%;
   width: 100%;
}
.sign-form-container{
  font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 60px;
  background-color: black;
  color: white;
}

.sign-in-input{
  width: 100%;
  height: 50px;
  color: #ccc;
  border: none;
  font-size: 18px;
  margin-bottom: 5px;
  border-bottom: 1px solid gray;
  background-color: black;
  outline: none;
}

.sign-in-input::placeholder{
  color: rgba(204, 204, 204, 0.367);
}

.btn-primary{
  background-color: #57b846;
  border-radius: 35px;
  width: 100%;
  height: 51px;
  color: white;
  font-size: 20px;
  margin-top: 17px;
  cursor: pointer;
  transition: 500ms;

}

.btn-primary:hover {
  background-color: #2d5625;  
}